@model List<TransactionsModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List Transaction</h1>


<div class="card">
    <div class="card-header">
        List Transaction
    </div>

    <div class="card-body">
        <form class="form-check-inline" method="get" action="@Url.Action("List","Transaactions")">
            <input type="text" name="search" class="sr-only" placeholder="Enter Name or name Product" />
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="submit" class="btn btn-secondary">Reset</button>
        </form>

        <br />
        <br />

        <a class="btn btn-success" asp-action="Save" asp-controller="Transaactions"> <i class="bg bi-plus-circle"></i> Create New</a>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name Customer</th>
                    <th scope="col">Name Product</th>
                    <th scope="col">Quantity Product</th>
                    <th scope="col">Name Shelf</th>
                    <th scope="col">Date Recupurchase</th>
                    <th scope="col">Date Creation</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    <tr>
                        <td>@items.Pawns.Id</td>
                        <td>@items.Users.Name</td>
                        <td>@items.items.Name</td>
                        <td>@items.items.Quatity</td>
                        <td>@items.Shelves.Name</td>
                        <td>@items.Pawns.pawn_date</td>
                        <td>@items.Pawns.Creation</td>
                        <td> <a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Transaactions" asp-route-id="@items.Pawns.Id">Edit</a></td>
                        <td> <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Transaactions" asp-route-id="@items.Pawns.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>