@model List<WarehousesModel>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<div class="card">
    <div class="card-header">
        List Ware House
    </div>

    <div class="card-body">
        <form class="form-check-inline" method="get" action="@Url.Action("List","Warehouses")">
            <input type="text" name="search" class="sr-only" placeholder="Enter name or lastname" />
            <button type="submit" class="btn btn-primary">Search</button>
            <button type="submit" class="btn btn-secondary">Reset</button>
        </form>

        <br />
        <br />

        <a class="btn btn-success" asp-action="Save" asp-controller="Warehouses">
            <i class="bg bi-plus-circle"></i> Create New Warehouses
        </a>
        <a class="btn btn-success" asp-action="SaveShavle" asp-controller="Warehouses">
            <i class="bg bi-plus-circle"></i> Create New Shavle
        </a>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Warehouse Name</th>
                    <th scope="col">Shelf Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Updated Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Shelves.Name</td>
                        <td>@item.Location</td>
                        <td>@item.Shelves.Capacity</td>
                        <td>@item.creation</td>
                        <td>@item.updatedDate</td>
                        <td><a class="btn btn-warning btn-sm" asp-action="Edit" asp-controller="Warehouses" asp-route-id="@item.Id">Edit</a></td>
                        <td><a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Warehouses" asp-route-id="@item.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
